@import '~bootstrap/scss/bootstrap';

// Components
.task {
    label {
        padding: 0.375rem 0.75rem;
    }
    .task-controls:not(.editing) {
        text-align: right;
        display: none;
    }
    &:hover {
        .task-controls { display: block; }    
    }
}

.tasks-list {
    ul,
    li {
        list-style: none;
    }
}


#taskingme {
    .MuiSvgIcon-root {
        font-size: 1.2rem;
        margin-top: -4px;
    }
}
